
<% provide(:title, 'Activities_and_Volunteer') %>

<div class="center hero-unit">
	<div class="headline"> 
	<h1> Our Current Projects</h1>
    </div>





  <div id="projectlist">
    <div class="actinline_center">
       <ul>
        <li><h4>Projects</h4><hr align="center" width="130px"></li>


         <li><a href="javascript:ajaxpage('/project1', 'projectbody');">Project1</a></li>
         <li><a href="javascript:ajaxpage('/project2', 'projectbody');">Project2</a></li>
         <li><a href="javascript:ajaxpage('/project3', 'projectbody');">Project3</a></li>
         <li><a href="javascript:ajaxpage('/project4', 'projectbody');">Project4</a></li>
         <li><a href="javascript:ajaxpage('/project5', 'projectbody');">Project5</a></li>
        </ul>
      </div>
  </div>
  <div id="projectbody">
    <h3>Projects'overviews should be here. </h3><br>
    <p>Projects'overviews should be here.aaaaaaaaaaaaaaaaaaaddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
      v
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      v
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd<br>
      </p>
  </div>
<div style="clear: left; margin-bottom: 1em"></div>
 
 
      	
  </div>

</div>












<!--<div class="center hero-unit">
	<div class="actiheadline"> 
	<h1> Our Current Projects</h1>
    </div>
   
    <div class="projectbox1">  	
   	   <h3><%= link_to "Project 1", '#'%></h3>
    </div>

    <div class="projectbox2">
    	<h3><%= link_to "Project 2", '#'%></h3>
    </div>

    <div class="projectbox3">
    	<h3><%= link_to "Project 3", '#'%></h3>
    </div>

    <div class="projectbox4"> 
    	<h3><%= link_to "Project 4", '#'%></h3>
    </div>

</div>
-->