<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <div class="headline"> 
  <h1> List of People in charge of our Program</h1>
    </div> 
    	

      <table id="contact_tables"> 
        <col  width: 50em" />
        <caption>Organizers</caption>
         
        

        <tr class="whitespace"> 
          <td class="leftelement">Name:</td> 
          <td class="rightelement">Mamadou Dembele</td> 
        </tr> 

        <tr class="whitespace"> 
          <td class="leftelement">Email:</td> 
          <td class="rightelement">MamadouDembele@yahoo.com</td> 
        </tr>

        <tr class="whitespace"> 
          <td class="leftelement">Phone:</td> 
          <td class="rightelement">4646 8588 58859</td> 
        </tr>

        <tr class="whitespace">
          <td class="leftelement">Title:</td> 
          <td class="rightelement">CEO</td> 
        </tr>
        

      </table>

     
      <table id="contact_tables"> 

       <caption>US Office</caption>
        

        <tr class="whitespace">
          <td class="leftelement">Address:</td> 
          <td class="rightelement">2222 w 125th st, new york, NY 11226</td> 
        </tr> 

        <tr class="whitespace">
          <td class="leftelement">Email:</td> 
          <td class="rightelement">USoffice@yahoo.com</td> 
        </tr>

        <tr class="whitespace"> 
          <td class="leftelement">Phone:</td> 
          <td class="rightelement">4646 8588 58859</td> 
        </tr>      

      </table>
      
      <table id="contact_tables">
        <caption>Africa Main Office</caption>


        <tr class="whitespace">
         <td class="leftelement">Address:</td> 
          <td class="rightelement">rue 355 baco-djico,Bamako,Mali 11226</td> 
        </tr> 

        <tr class="whitespace">
          <td class="leftelement">Email:</td> 
          <td class="rightelement">africaoffice@yahoo.com</td> 
        </tr>

        <tr class="whitespace"> 
          <td class="leftelement">Phone:</td> 
          <td class="rightelement">223-4646 8588 58859</td> 
        </tr>           
      </table>

      <div style="clear: left; margin-bottom: 1em"></div>
 
 
        
  </div>


    <!--<div class="Require Form">
    	<h3> You can just fill out the form below and someone will get back to shortly </h3>
    </div>-->

    