
  <div class="projectboximage">
    
    <%= link_to image_tag("slideshow/water-crisis-is-looming-2abc9w9.jpg", alt: "project1", :id => "auto_resizeimage"), '#' %>
  </div>

 <div class="projectoverview">
 	<h4>Project One:</h4>
     <p>abababbababababababbababbabababababababddddddddddddd <br>abababbababababababbababbababababababab dddddddddddd<br><p>abababbababababababbababbabababababababdddddddddddddddddddddddd <br><p>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br><p>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br><p>abababbababababababbababbababababababab <br></p>
  </div>

  <div class="volunteerlink">
   <h3><%= link_to "Become a Vonteer of this project!", '#'%></h3>
 </div>

