
  <div class="projectboximage">
     <%= link_to image_tag("slideshow/0126-IVORY_full_600.jpg", alt: "project4", :id => "auto_resizeimage"), '#' %> 
  </div>

 <div class="projectoverview">
   <h4>Project four:</h4>
   <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww<br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br>abababbababababababbababbababababababab <br></p>
  </div>

  <div class="volunteerlink">
   <h3><%= link_to "Become a Vonteer of this project?", '#'%></h3>
 </div>
 <% content_for :stylesheets do %>
  #tohidefooter {display: none}
<% end %>
